<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>App yaha kaise...</h1>
    <img src="../Images/404.jpg" alt="" />

<%- include('includes/end.ejs') %>