.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}
.product-card {
    display: flex;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.product-image {
    flex: 0 0 30%; /* Adjust the width as needed */
    margin-right: 1rem;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    margin-top: 0;
}

.product-info p {
    margin-bottom: 0.5rem;
}